.DS_Store
.vscode
*.csv
*.o
*_shrubbery
*.txt
a.out
AForm
Array
Base
Brain
btc
Bureaucrat
easyfind
Fixed
Harl
Harlfilter
Humans
Iter
Main
megaphone
MutantStack
Poly
replace
Serialize
ScalarConverter
Span
Whatever
Zombie
Zombies