.DS_Store
.vscode
*.o
*_shrubbery
a.out
AForm
Array
Base
Brain
Bureaucrat
easyfind
Fixed
Harl
Harlfilter
Humans
Iter
Main
megaphone
MutantStack
Poly
replace
Serialize
ScalarConverter
Span
Whatever
Zombie
Zombies